:root {
    --background-color: #ffffff;
    --panel: #ffffff;
    --border-color: #e0e0e0;

    --text-color: #1e202d;
    --link-color: #674bd3;
    --title-color: #1e202d;

    --button-background-color: #d9d9d9;
    --button-hover-background-color: #a8a8a8;
    --input-background-color: #ffffff;
    --input-border-color: #e0e0e0;
    --input-focus-border-color: #674bd3;
    --input-text-color: #1e202d;

    --canvas-border-color: #d0d0d0;
}

[data-theme='dark'] {
    --background-color: #1c1a25;
    --panel: #1c1a25;
    --border-color: #272530;

    --text-color: #abaaaf;
    --title-color: #fff;
    --link-color: #a962d8;

    --button-background-color: #3b3b3b;
    --button-hover-background-color: #505050;
    --input-background-color: #2a2c36;
    --input-border-color: #444444;
    --input-focus-border-color: #a962d8;
    --input-text-color: #e0e0e0;

    --canvas-border-color: #555555;
}

body {
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

header {
    background-color: var(--panel);
    color: var(--text-color);
    padding: 10px 20px;
    border-bottom: 2px solid var(--border-color);
    display: flex;
    text-align: center;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-nav a {
    color: var(--link-color);
    font-weight: bold;
    text-decoration: none;
    margin: 0 10px;
}

.header-nav a:hover {
    text-decoration: underline;
}

.main-nav {
    background-color: var(--panel);
    border-bottom: 2px solid var(--border-color);
    display: flex;
    gap: 10px;
    padding: 10px;
}

.main-nav button {
    padding: 5px 7px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--button-background-color);
    border: none;
    color: var(--text-color);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.main-nav button:hover {
    background-color: var(--button-hover-background-color);
}

main {
    display: flex;
    flex: 1;
    height: 10px;
}

.sidebar {
    background-color: var(--panel);
    width: 275px;
    min-width: 250px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.controls > h3 {
    border-top: 2px solid var(--border-color);
    background: var(--background-color);
    padding: 20px 10px;
}

.controls {
    margin-top: 20px;
}

.control-group {
    margin-bottom: 20px;
    padding-left: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea, select {
    background-color: var(--input-background-color);
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    color: var(--input-text-color);
    padding: 8px 12px;
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Focus Styles for Inputs */
input:focus, textarea:focus, select:focus {
    border-color: var(--input-focus-border-color);
    outline: none;
    box-shadow: 0 0 4px rgba(0, 150, 136, 0.3);
}

button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--button-background-color);
    border: none;
    color: var(--text-color);
    border-radius: 5px;
    margin: 5px 0;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--button-hover-background-color);
}

.main-window {
    width: 100%;
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.main-window > nav {
    max-height: 30px;
    background-color: var(--panel);
    color: var(--text-color);
    border-bottom: 2px solid var(--border-color);
}

.windows { /* not linux */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
    max-height: 30px;
    padding: 5px 15px;
    width: fit-content;
}

.windows:hover {
    cursor: pointer;
}

.canvas-container {
    display: flex;
    gap: 10px;
    padding: 20px;
    overflow: auto;
    align-items: center;
    justify-content: center;
    height: calc(100% - 110px);
}

.canvas-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100%;
}

canvas {
    border: 2px solid var(--canvas-border-color);
    background-color: var(--background-color);
    max-width: 100%;
    max-height: 100%;
}

footer {
    font-size: 18px;
    background-color: var(--panel);
    color: var(--text-color);
    border-top: 2px solid var(--border-color);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 20px;
}

footer > span {
    padding-right: 10px;
    padding-left: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: grey;
    border: 1px solid var(--input-border-color);
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--link-color);
}

input:checked + .slider:before {
    transform: translateX(14px);
}

.recording-indicator {
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 2px solid red;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.recording-indicator.blink {
    background-color: red;
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    50% {
        visibility: hidden;
    }
}

@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        box-shadow: none;
    }

    .canvas-container {
        flex-direction: column;
    }
}