body {
    margin: 0;
    background-color: #1f1f1f;
    color: #ddd;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

header {
    background-color: #262626;
    width: 100%;
    text-align: center;
    color: #ddd;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    width: 100%;
    max-width: 1200px;
}

.control-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 5px;
}

input[type="range"], select {
    width: 150px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #444;
    border: none;
    color: #ddd;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #555;
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    height: calc(100vh - 200px);
    overflow: scroll;
    padding-bottom: 50px;
}

canvas {
    border: 2px solid #ddd;
    image-rendering: pixelated;
    transform-origin: 0 0;
    max-width: 100%;
    max-height: 100%;
}

.generation-counter {
    bottom: 0;
    position: fixed;
    font-size: 18px;
    background-color: #262626;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #ddd;
}

@media (max-width: 768px) {
    .controls {
        flex-direction: column;
    }

    input[type="range"], select {
        width: 100px;
    }
}

.left-border {
    border-left: 2px solid #ddd;
    padding-left: 15px;
}