:root {
    --background-color: #f0f0f0;
    --panel: #ffffff;
    --border-color: #e0e0e0;

    --text-color: #1e202d;
    --link-color: #674bd3;
    --title-color: #1e202d;

    --button-background-color: #d9d9d9;
    --button-hover-background-color: #a8a8a8;
    --input-background-color: #ffffff;
    --input-border-color: #e0e0e0;
    --input-focus-border-color: #674bd3;
    --input-text-color: #1e202d;

    --canvas-border-color: #d0d0d0;
}

[data-theme='dark'] {
    --background-color: #121212;
    --panel: #1e1e1e;
    --border-color: #333333;

    --text-color: #e0e0e0;
    --title-color: #ffffff;
    --link-color: #bb86fc;

    --button-background-color: #292929;
    --button-hover-background-color: #3a3a3a;
    --input-background-color: #2a2a2a;
    --input-border-color: #444444;
    --input-focus-border-color: #bb86fc;
    --input-text-color: #e0e0e0;

    --canvas-border-color: #444444;
}

body {
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.bento-grid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.3fr;
    gap: 0px 0px;
    grid-template-areas:
    "header header header header header header header header header header header"
    "action action main main main main main main main panel panel"
    "action action main main main main main main main panel panel"
    "action action main main main main main main main panel panel"
    "action action main main main main main main main panel panel"
    "action action main main main main main main main panel panel"
    "action action main main main main main main main panel panel"
    "action action main main main main main main main panel panel"
    "action action main main main main main main main panel panel"
    "status status footer footer footer footer footer footer footer panel panel";
    height: 100%;
    width: 100%;
}

.grid {
    width: 100%;
    height: 100%;
}

.header {
    background-color: var(--panel);
    grid-area: header;
    border-bottom: 2px solid var(--border-color);
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 20px;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-logo img {
    height: 25px;
}

.header-nav a {
    color: var(--link-color);
    text-decoration: none;
    margin-left: 15px;
}

.header-nav a:hover {
    text-decoration: underline;
}

.panel {
    background: var(--panel);
    border-left: 2px solid var(--border-color);
    grid-area: panel;
    margin-top: 2px;
    overflow-x: clip;
    overflow-y: scroll;
}

.controls {
    margin: 20px;
    transition: opacity 0.3s ease;
}

.border-bottom {
    border-bottom: 2px solid var(--border-color);
}

.action {
    border-right: 2px solid var(--border-color);
    margin-top: 2px;
    background: var(--panel);
    grid-area: action;
}

.main {
    grid-area: main;
}

.footer {
    border-top: 2px solid var(--border-color);
    background: var(--panel);
    grid-area: footer;
}

.footer > .controls {
    width: fit-content;
}

.status {
    border-right: 2px solid var(--border-color);
    background: var(--panel);
    grid-area: status;
}

button {
    background-color: var(--button-background-color);
    color: var(--text-color);
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: var(--button-hover-background-color);
}

button:active {
    transform: scale(0.98);
}

button:focus {
    outline: none;
}

.border-left {
    border-left: 2px solid var(--border-color);
}

.border-right {
    border-right: 2px solid var(--border-color);
}

.control-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--title-color);
}

input[type="text"],
input[type="range"],
input[type="color"],
button,
select {
    max-width: 100%;
    padding: 5px;
    margin-top: 5px;
    background-color: var(--input-background-color);
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    color: var(--input-text-color);
    font-size: 14px;
    transition: 0.2s;
}

input:hover, button:hover {
    transition: 0.2s;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    height: 8px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: var(--link-color);
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]:focus {
    border-color: var(--input-focus-border-color);
}

canvas {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/*pop up for download*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 60px;
}

.modal-content {
    background-color: var(--panel);
    margin: 5% auto;
    padding: 20px;
    border: 1px solid var(--border-color);
    width: fit-content;
    border-radius: 5px;
}

.recording-indicator {
    background-color: transparent;
    border: 2px solid red;
    display: block;
    height: fit-content;
    border-radius: 50%;
}

.recording-indicator.blink {
    background-color: red;
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    50% {
        visibility: hidden;
    }
}

.button-fullsize {
    margin: 0;
    border: 2px solid var(--input-border-color);
}

.button-padding {
    padding: 10px;
}

.hidden-content {
    display: none;
    max-height: 0;
}

h3 {
    color: var(--title-color);
    margin: 0;
}

.visible-content {
    padding-top: 10px;
    max-height: fit-content;
}

.toggleEm {
    cursor: pointer;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    font-size: 18px;
}

.toggle-icon {
    font-weight: bold;
    transition: transform 0.3s ease;
}

.shortcut-legend {
    margin-left: 20px;
}

pre {
    max-width: 100%;
    max-height: 100px;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    box-sizing: border-box;
}

#progressContainer {
    width: 100%;
    background: var(--panel);
    border-radius: 10px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
    margin: 20px;
}

#progressBar {
    width: 0%;
    height: 20px;
    border-radius: 10px;
    background: var(--link-color);
    transition: width 0.2s ease-out; /* Smooth transition for width changes */
}

#record {
    background: var(--link-color);
    color: #fff;
}

/* Custom resize handle */
.resize-handle {
    width: 10px;
    height: 100%;
    background: transparent;
    cursor: ew-resize;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

body {
    cursor: default;
}

.panel, .action, .footer, .status {
    position: relative;
}

.resize-handle {
    cursor: ew-resize;
}