/* TODO: optimise this file */

:root {
    --background: #f0f0f0;
    --panel: #ffffff;
    --border: #f6f6f6;

    --text: #1e202d;
    --title-color: #1e202d;
    --contrast: #674bd3;

    --button-background: #d9d9d9;
    --button-hover-background: #a8a8a8;
    --input-background: #ffffff;
    --input-border: #e0e0e0;
    --input-focus-border: #674bd3;
    --input-text: #1e202d;
}

[data-theme='dark'] {
    --background: #121212;
    --panel: #1e1e1e;
    --border: #333333;

    --text: #e0e0e0;
    --title: #ffffff;
    --contrast: #bb86fc;

    --button-background: #292929;
    --button-hover-background: #3a3a3a;
    --input-background: #2a2a2a;
    --input-border: #444444;
    --input-focus-border: #bb86fc;
    --input-text: #e0e0e0;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    cursor: default;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 20px;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-logo img {
    height: 25px;
}

.header-nav a {
    color: var(--contrast);
    text-decoration: none;
    margin-left: 15px;
}

.header-nav a:hover {
    text-decoration: underline;
}

.controls {
    margin: 20px;
    transition: opacity 0.3s ease;
}

.border-bottom {
    border-bottom: 2px solid var(--border);
}

.separate {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.separate > button {
    margin: 10px;
}

.footer > .controls {
    width: fit-content;
}

.footer > div {
    white-space: nowrap;
}

button {
    background-color: var(--button-background);
    color: var(--text);
    border: none;
    padding: 10px;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
}

button:hover {
    background-color: var(--button-hover-background);
}

button:active {
    transform: scale(0.98);
}

button:focus {
    outline: none;
}

.border-left {
    border-left: 2px solid var(--border);
}

.border-right {
    border-right: 2px solid var(--border);
}

.control-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--title-color);
}

input[type="text"],
input[type="range"],
input[type="color"],
button,
select {
    max-width: 100%;
    padding: 5px;
    margin-top: 5px;
    background-color: var(--input-background);
    border: 1px solid var(--input-border);
    border-radius: 5px;
    color: var(--input-text);
    font-size: 14px;
    transition: 0.2s;
}

input:hover, button:hover {
    transition: 0.2s;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    height: 8px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: var(--contrast);
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]:focus {
    border-color: var(--input-focus-border);
}

canvas {
    max-height: 95%;
    max-width: 95%;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/*pop up for download*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 60px;
}

.modal-content {
    background-color: var(--panel);
    margin: 5% auto;
    padding: 20px;
    border: 1px solid var(--border);
    width: fit-content;
    border-radius: 5px;
}

.button-fullsize {
    margin: 0;
    border: 2px solid var(--input-border);
}

.button-padding {
    padding: 10px 15px;
}

.hidden-content {
    display: none;
    max-height: 0;
}

h3 {
    color: var(--title-color);
    margin: 0;
}

.visible-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding-top: 0; /* Start with no padding */
    transition: max-height 0.3s ease, opacity 0.5s ease, padding-top 0.3s ease;
}

.toggleEm {
    cursor: pointer;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    font-size: 18px;
}

.toggle-icon {
    font-weight: bold;
    transition: transform 0.3s ease;
}

.shortcut-legend {
    margin-left: 20px;
}

pre {
    max-width: 100%;
    max-height: 100px;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    box-sizing: border-box;
}

#progressContainer {
    width: 100%;
    background: var(--panel);
    border-radius: 5px;
    border: 2px solid var(--border);
    margin: 20px;
}

#progressBar {
    width: 0;
    height: 20px;
    border-radius: 5px;
    background: var(--contrast);
    transition: width 0.2s ease-out;
}

#record {
    background: var(--contrast);
    color: #fff;
}

#refreshLink {
    height: 23px;
    width: 23px;
}

#refreshLink > svg {
    fill: var(--contrast)
}

.category {
    display: flex;
    align-items: center;
    background-color: var(--panel);
    padding: 8px 8px 8px 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    gap: 10px;
}

.category i {
    font-size: 23px;
    color: var(--contrast);
    transition: transform 0.3s ease, color 0.3s ease;
}